@page "/AboutMe"
@using LinkDotNet.Blog.Web.Features.AboutMe.Components
@inject IOptions<ApplicationConfiguration> AppConfiguration
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@if (AppConfiguration.Value.IsAboutMeEnabled)
{
    <OgData Title="@("About Me - " + AppConfiguration.Value.ProfileInformation.Name)"
            Description="@("About Me," + AppConfiguration.Value.ProfileInformation.Name)"
            Keywords="@AppConfiguration.Value.ProfileInformation.Name"
            AbsolutePreviewImageUrl="@ImageUrl"></OgData>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <Profile ShowAdminActions="@isAuthenticated" ProfileInformation="AppConfiguration.Value.ProfileInformation"/>
            </div>
            <TabbedNavigation IsAuthenticated="isAuthenticated"></TabbedNavigation>
        </div>
    </div>
}

@code {
    private bool isAuthenticated;

    private string ImageUrl => AppConfiguration.Value.ProfileInformation.ProfilePictureUrl.ToAbsoluteUrl(NavigationManager.BaseUri);

    protected override async Task OnInitializedAsync()
    {
        var userIdentity = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User.Identity;
	    isAuthenticated = userIdentity?.IsAuthenticated ?? false;
    }
}
