@using LinkDotNet.Domain
@using LinkDotNet.Infrastructure.Persistence
@inherits MarkdownComponentBase

@inject AppConfiguration appConfiguration
@inject IProfileRepository repository
@inject ISortOrderCalculator sortOrderCalculator
<div class="profile">
    <div class="profile-name">
        <span>@appConfiguration.ProfileInformation.Name</span>
        <br/>
        <span>@appConfiguration.ProfileInformation.Heading</span>
    </div>
    <div class="profile-image">
        <img src="@appConfiguration.ProfileInformation.ProfilePictureUrl" alt="Profile Picture" /> 
    </div>
    <ul class="profile-keypoints inverted-colors"
        ondragover="event.preventDefault();">
        @foreach (var entry in profileInformationEntries)
        {
            @if (IsAuthenticated)
            {
                <li
                    class="item-draggable"
                    draggable="true"
                    @ondrag="@(() => currentDragItem = entry)"
                    @ondrop="@(() => HandleDrop(entry))">

                    <button type="button" class="btn btn-default" aria-label="Delete Item" @onclick="() => ShowDeleteDialog(entry.Content)">
                        <i class="fas fa-trash-alt" aria-hidden="true"></i>
                    </button>
                    @RenderMarkupString(entry.Content)
                </li>
            }
            else
            {
                <li>@RenderMarkupString(entry.Content)</li>
            }
        }
        @if (IsAuthenticated)
        {
            <AddProfileShortItem ValueAdded="@AddValue"></AddProfileShortItem>
        }
    </ul>
</div>

<ConfirmDialog @ref="Dialog" Content="Do you really want to delete this entry?" Title="Delete" 
OnYesPressed="DeleteItem"></ConfirmDialog>

@code {
    [Parameter]
    public bool IsAuthenticated { get; set; }

    private List<ProfileInformationEntry> profileInformationEntries = new();
    private ConfirmDialog Dialog { get; set; }
    private string currentDeleteKey;
    private ProfileInformationEntry currentDragItem;
    private string dropClass = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        profileInformationEntries = (await repository.GetAllAsync()).OrderBy(d => d.SortOrder).ToList();
    }

    private void ShowDeleteDialog(string key)
    {
        currentDeleteKey = key;
        Dialog.Open();
    }

    private async Task DeleteItem()
    {
        var entryToDelete = profileInformationEntries.Single(p => p.Content == currentDeleteKey);
        profileInformationEntries.Remove(entryToDelete);
        await repository.DeleteAsync(entryToDelete.Id);
    }

    private async Task AddValue(string toAdd)
    {
        var sortOrder = GetSortOrder();
        var newEntry = ProfileInformationEntry.Create(toAdd, sortOrder);

        profileInformationEntries.Add(newEntry);
        await repository.StoreAsync(newEntry);
    }

    private int GetSortOrder()
    {
        if (profileInformationEntries.Any())
        {
            return profileInformationEntries.Max(p => p.SortOrder) + 1000;
        }

        return 1000;
    }

    private async Task HandleDrop(ProfileInformationEntry dropTarget)
    {
        dropClass = string.Empty;
        if (currentDragItem == null || dropTarget  == currentDragItem)
        {
            return;
        }

        var newSortOrder = sortOrderCalculator.GetSortOrder(dropTarget, profileInformationEntries);
        currentDragItem.SortOrder = newSortOrder;
        await repository.StoreAsync(currentDragItem);
        currentDragItem = null;
        profileInformationEntries.Sort((a, b) => a.SortOrder.CompareTo(b.SortOrder));
        StateHasChanged();
    }
}