@page "/"
@page "/{page:int}"
@using Markdig
@using X.PagedList
@using LinkDotNet.Blog.Web.Shared.Services
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure.Persistence
@inject IRepository<BlogPost> blogPostRepository
@inject AppConfiguration appConfiguration
@inject NavigationManager navigationManager
@inject IUserRecordService userRecordService

<OgData Title="@(Markdown.ToPlainText(appConfiguration.BlogName))" 
        AbsolutePreviewImageUrl="@ImageUrl"
        Description="@(Markdown.ToPlainText(appConfiguration.Introduction.Description))"></OgData>
<section class="introduction">
    <IntroductionCard Introduction="appConfiguration.Introduction"></IntroductionCard>
</section>

<section>
    <header>
        <div class="recent-posts">
            <h1>Recent Posts</h1>
        </div>
    </header>
    <div class="content px-4 my-2">
        <Virtualize Items="@currentPage.ToList()">
            <ShortBlogPost BlogPost="context" UseAlternativeStyle="@(currentLine++ % 2 != 0)"></ShortBlogPost>
        </Virtualize>
    </div>
    <BlogPostNavigation CurrentPage="@currentPage" OnPageChanged="@SetPageNumber"></BlogPostNavigation>
</section>

@code {
    [Parameter]
    public int? Page { get; set; }

    private IPagedList<BlogPost> currentPage = new PagedList<BlogPost>(null, 1, 1);
    private int currentLine;

    private string ImageUrl => appConfiguration.Introduction.BackgroundUrl.ToAbsoluteUrl(navigationManager.BaseUri);

    protected override async Task OnParametersSetAsync()
    {
        currentPage = await blogPostRepository.GetAllAsync(
            p => p.IsPublished,
            b => b.UpdatedDate,
            pageSize: appConfiguration.BlogPostsPerPage,
            page: Page ?? 1);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await userRecordService.StoreUserRecordAsync();
        }
    }

    private void SetPageNumber(int newPage)
    {
        navigationManager.NavigateTo($"/{newPage}");
    }
}