@page "/blogPost/{blogPostId}"
@using Markdig
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Infrastructure.Persistence
@using LinkDotNet.Blog.Web.Features.Services
@using LinkDotNet.Blog.Web.Features.ShowBlogPost.Components
@inject IRepository<BlogPost> BlogPostRepository
@inject IJSRuntime JsRuntime
@inject IUserRecordService UserRecordService
@inject AppConfiguration AppConfiguration

@if (BlogPost == null)
{
    <Loading></Loading>
}
else
{
    <PageTitle>@BlogPost.Title</PageTitle>
	<OgData Title="@BlogPost.Title"
	        AbsolutePreviewImageUrl="@OgDataImage"
	        Description="@(Markdown.ToPlainText(BlogPost.ShortDescription))"
	        Keywords="@BlogPost.TagsAsString">
		<StructuredData Headline="@BlogPost.Title"
		                PreviewImage="@BlogPost.PreviewImageUrl"
		                PreviewFallbackImage="@BlogPost.PreviewImageUrlFallback"
		                PublishedDate="@BlogPost.UpdatedDate"
		                Author="@AppConfiguration.ProfileInformation?.Name"/>
	</OgData>

	<div class="d-flex justify-content-center pt-2 blog-outer-box">
		<div class="blog-container">
			<div class="blog-inner-content">
				<header class="text-center">
					<h1>@BlogPost.Title</h1></header>
				<div class="blogpost-metainformation d-flex flex-row flex-wrap gap-2">
					<div><span class="date"></span><span class="ms-1">@BlogPost.UpdatedDate.ToString("dd/MM/yyyy")</span></div>
					@if (BlogPost.Tags != null && BlogPost.Tags.Any())
					{
						<span class="blogpost-tag d-inline-block">
							@foreach (var tag in BlogPost.Tags)
							{
								<a class="goto-tag ms-1 me-1" href="/searchByTag/@(Uri.EscapeDataString(tag))">@tag</a>
							}
						</span>
					}
				</div>

				<div class="admin-action">
					<BlogPostAdminActions BlogPostId="@BlogPostId"></BlogPostAdminActions>
				</div>

				<div class="blogpost-content">
					@(MarkdownConverter.ToMarkupString(BlogPost.Content))
				</div>
			</div>
			<div class="d-flex justify-content-between py-2">
				<Like BlogPost="@BlogPost" OnBlogPostLiked="@UpdateLikes"></Like>
				<ShareBlogPost></ShareBlogPost>
			</div>
			<DonationSection></DonationSection>
			<CommentSection></CommentSection>
		</div>
	</div>

	@if (AppConfiguration.ShowReadingIndicator)
	{
		<ReadingIndicator ContainerCssSelector=".blog-inner-content"/>
	}
}

@code {
    [Parameter]
    public string BlogPostId { get; set; }

	private string OgDataImage => BlogPost.PreviewImageUrlFallback ?? BlogPost.PreviewImageUrl;

    private BlogPost BlogPost { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        BlogPost = await BlogPostRepository.GetByIdAsync(BlogPostId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("hljs.highlightAll");

        if (firstRender)
        {
            var userRecordTask = UserRecordService.StoreUserRecordAsync();
            StateHasChanged();
            await userRecordTask;
        }
    }

    private async Task UpdateLikes(bool hasLiked)
    {
        BlogPost = await BlogPostRepository.GetByIdAsync(BlogPostId);
        BlogPost.Likes = hasLiked ? BlogPost.Likes + 1 : BlogPost.Likes - 1;
        await BlogPostRepository.StoreAsync(BlogPost);
    }
}
