@page "/SupportMe"
@using LinkDotNet.Blog.Domain
@using LinkDotNet.Blog.Web.Features.SupportMe.Components
@inject IOptions<SupportMeConfiguration> SupportConfiguration
@inject NavigationManager NavigationManager
@inject IOptions<ProfileInformation> ProfileInformation

@if (SupportConfiguration.Value.ShowSupportMePage)
{
	<PageTitle>Support Me</PageTitle>
    <OgData Title="@("Support Me - " + ProfileInformation.Value.Name)"
            Description="@("Support Me - " + ProfileInformation.Value.Name)"
            Keywords="@($"Donation,Support,{ProfileInformation.Value.Name})")"
            AbsolutePreviewImageUrl="@ImageUrl"></OgData>

    <div class="container">
        @if (!string.IsNullOrEmpty(SupportConfiguration.Value.SupportMePageDescription))
        {
            <div>@MarkdownConverter.ToMarkupString(SupportConfiguration.Value.SupportMePageDescription)</div>
        }
        <DonationSection />
    </div>
}

@code {
    private string ImageUrl => ProfileInformation.Value.ProfilePictureUrl.ToAbsoluteUrl(NavigationManager.BaseUri);
}
