@page "/SupportMe"
@using LinkDotNet.Blog.Domain
@inject IOptions<SupportMeConfiguration> SupportConfiguration
@inject NavigationManager NavigationManager
@inject IOptions<ProfileInformation> ProfileInformation
@namespace LinkDotNet.Blog.Web.Features.SupportMe.Components

@if (SupportConfiguration.Value.ShowSupportMePage && SupportConfiguration.Value.SupportMePageDescription is not null)
{
    <OgData Title="@("Support Me - " + ProfileInformation.Value.Name)"
            Description="@("Support Me," + ProfileInformation.Value.Name)"
            Keywords="@ProfileInformation.Value.Name"
            AbsolutePreviewImageUrl="@ImageUrl"></OgData>

    <div class="container">
        <div>@MarkdownConverter.ToMarkupString(SupportConfiguration.Value.SupportMePageDescription)</div>
        <DonationSection />
    </div>
}

@code {
    private string ImageUrl => ProfileInformation.Value.ProfilePictureUrl.ToAbsoluteUrl(NavigationManager.BaseUri);
}
