@using LinkDotNet.Blog.Domain
@using Microsoft.Extensions.Options
@inject IOptions<ApplicationConfiguration> Configuration

<div style="--profile-background: url(@Configuration.Value.Introduction.BackgroundUrl)" class="@IntroductionClass">
    <div class="introduction-container">
        <div class="profile-picture" style="--profile-image: url(@Configuration.Value.Introduction.ProfilePictureUrl)">
        </div>
        <div class="profile-text d-flex flex-column">
            <div>@MarkdownConverter.ToMarkupString(Configuration.Value.Introduction.Description)</div>
            <SocialAccounts Social="@Configuration.Value.Social"></SocialAccounts>
        </div>
    </div>
</div>
@code {
    private string IntroductionClass => !string.IsNullOrEmpty(Configuration.Value.Introduction.BackgroundUrl)
        ? "introduction-background"
        : string.Empty;
}
