@using LinkDotNet.Blog.Domain
@inject AppConfiguration configuration

<div style="--profile-background: url(@configuration.Introduction.BackgroundUrl)" class="@IntroductionClass">
    <div class="introduction-container">
        <div class="profile-picture" style="--profile-image: url(@configuration.Introduction.ProfilePictureUrl)">
        </div>
        <div class="profile-text d-flex flex-column">
            <div>@MarkdownConverter.RenderMarkupString(configuration.Introduction.Description)</div>
            <SocialAccounts Social="@configuration.Social"></SocialAccounts>
        </div>
    </div>
</div>
@code {
    private string IntroductionClass => !string.IsNullOrEmpty(configuration.Introduction.BackgroundUrl)
        ? "introduction-background"
        : string.Empty;
}