@inject AppConfiguration configuration
@inject NavigationManager navigationManager
@implements IDisposable

<nav class="navbar navbar-expand-lg navbar-light w-100">
    <div class="container-fluid">
        @if (!string.IsNullOrEmpty(configuration.BlogBrandUrl))
        {
            <a class="nav-brand ms-5" href="/">
                <img style="max-height: 70px;"
                     src="@configuration.BlogBrandUrl.ToAbsoluteUrl(navigationManager.BaseUri)"
                     alt="brand" />
            </a>
        }
        else
        {
            <a class="nav-brand barcode ms-5" href="/">@configuration.BlogName</a>
        }
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item active"><a class="nav-link" href="/archive">Archive</a></li>
                @if (configuration.HasLinkedinAccount)
                {
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="@configuration.LinkedinAccountUrl">
                            <i
                                class="fab fa-linkedin"></i>
                            LinkedIn</a></li>
                }
                @if (configuration.HasGithubAccount)
                {
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="@configuration.GithubAccountUrl"><i class="fab
                    fa-github"></i>
                            Github</a></li>
                }
                @if (configuration.IsAboutMeEnabled)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="AboutMe"><i class="far fa-address-card"></i> About
                            me</a></li>
                }

                <AccessControl CurrentUri="@currentUri"></AccessControl>
                <li class="nav-item d-flex">
                    <SearchInput SearchEntered="NavigateToSearchPage"></SearchInput>
                </li>
            </ul>
        </div>
    </div>
</nav>
@code {
    private string currentUri = string.Empty;

    protected override void OnInitialized()
    {
        navigationManager.LocationChanged += UpdateUri;
        currentUri = navigationManager.Uri;
    }

    private void NavigateToSearchPage(string searchTerm)
    {
        var escapeDataString = Uri.EscapeDataString(searchTerm);
        navigationManager.NavigateTo($"search/{escapeDataString}");
    }

    public void Dispose()
    {
        navigationManager.LocationChanged -= UpdateUri;
    }

    private void UpdateUri(object sender, LocationChangedEventArgs e)
    {
        currentUri = e.Location;
        StateHasChanged();
    }

}